a {
  color: white;
}

a:hover {
  color: #8f9193;
  text-decoration: none;
}

body {
  padding-top: 55px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

a:active, a:focus {
  text-decoration: none;
  color: white;
}

.animate {
  transition: font-size 1s;
}

.animate:hover {
  font-size: 2em
}

/*--------------------- NAV BAR ---------------------- */

nav {
  background-color: #313233;
  padding: 15px 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
}

.light-nav {
  background: white;
  color: black;
}

.light-nav a {
  color: black;
}

.nav-col {
  text-align: center;
  color: white;
  font-size: 18px;
}

.fa-bars {
  color: black;
  margin: 10px;
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
}

.fa-times {
  color: white;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1000;
  display: none;
}

.light-nav .fa-times {
  color: black;
}

.light-bars {
  color: white;
}

/*--------------------- NAV BAR END ---------------------- */

h1 {
  font-size: 70px;
}

@media(max-width: 768px) {
  html {
    font-size: 5px;
  }

  .fa {
    display: inline;
  }

  h1 {
    font-size: 40px;
  }

  .contact>ul {
    display: flex;
    flex-direction: column;
  }

  .contact>ul>li {
    margin-bottom: 10px;
  }
}

/*--------------------- HOME ---------------------------- */

.sum-up {
  text-align: center;
}

.home {
  display: flex;
  align-items: center;
  height: 90vh;
}

.last-name {
  color: rgb(106,168,79);
}

.contact-info {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.contact-info li {
  margin-right: 30px;
}

.contact-info a {
  color: black;
}

/*--------------------- HOME END ---------------------------- */

/*--------------------- PORTFOLIO ---------------------------- */

.portfolio {
  background: rgba(0, 0, 0, 0.81);
  color: white;
  padding-top: 0.1px;
  min-height: 90vh;
}

.project {
  padding: 20px 0;
  border-bottom: 1px solid white;
}

.portfolio .project:last-child {
  border-bottom: none;
}
.project-title {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 20px;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.technologies span {
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px;
  margin-bottom: 10px;
}

.portfolio-title {
  font-size: 30px;
  text-align: center;
  margin: 30px auto;
}

/*--------------------- PORTFOLIO END ---------------------------- */

/*--------------------- ABOUT ---------------------------- */
.me {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.photo-container {
  height: 100px;
}

.about {
  padding-top: 12rem;
  height: 95vh;
}

@media(min-width: 931px){
  .about .row {
    display: flex;
  }

  /*.about {
    margin-bottom: 6rem;
  }*/
}

.about figure {
  margin-bottom: 15px;
}

.desc {
  font-size: 2.2rem;
  line-height: 175%;
  color: #464b4e;
  align-self: center;
  text-align: center;
}
/*--------------------- ABOUT END ---------------------------- */
/*--------------------- CONTACT ---------------------------- */

.contact {
  text-align: center;
  margin-bottom: 35rem;
}

.contact h1 {
  font-size: 6rem;
  margin-bottom: 45px;
}

.contact ul {
  text-align: center;
}

.contact ul li {
  margin-right: 5px;
}

.contact ul li a {
  color: black;
}
/*--------------------- CONTACT END ---------------------------- */
/*--------------------- FOOTER ---------------------------- */
footer {
  background: #313233;
  height: 70px;
  padding: 25px;
  margin-top: 50px;
}

footer ul {
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  margin: 0;
}
/*--------------------- FOOTER END ---------------------------- */
